:root {
  --wine-red: #c7375f;
  --light-pink: #fdb;
  --dark-green: #344d2f;
  --snow: #f0f4f7;
}

html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: var(--dark-green);
  background-color: var(--light-pink);
}

h1 {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  background: var(--wine-red);
  color: var(--snow);
  padding: 1em 2em;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.countdown-display {
  font-size: 100px;
  margin: 0;
}
